<!-- Added the boilerplate  -->

<% layout('/layouts/boilerplate.ejs') -%>

<!-- Adding the code for this page  -->

<div class="row edit-page">
  <div class="edit-head mb-2 mt-1">Edit Details</div>
  <form
    action="/listings/<%=data.id%>?_method=PUT"
    method="post"
    class="needs-validation"
    enctype="multipart/form-data"
    novalidate
  >
    <div class="mt-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        name="listing[title]"
        value="<%=data.title%>"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Choose a title.</div>
    </div>

    <div class="mt-3">
      <label for="description" class="form-label"> Description</label>
      <textarea
        name="listing[description]"
        cols="30"
        rows="5"
        class="form-control"
        required
      >
 <%= data.description%></textarea
      >

      <div class="invalid-feedback">Can't Be Emptied</div>
    </div>

    <div class="mt-3">
      <label for="image" class="form-label">Upload Image</label>
      <input type="file" name="listing[image]" class="form-control" required />
    </div>

    <div class="row mt-3">
      <div class="col-6">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          name="listing[price]"
          value="<%=data.price%>"
          class="form-control"
          required
        />

        <div class="invalid-feedback">Enter Valid Price</div>
      </div>

      <div class="col-6">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          value="<%=data.location%>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Can't Be Emptied.</div>
      </div>
    </div>

    <div class="mt-3 col-2">
      <label for="listing[country]" class="form-label">Country</label>
      <input
        type="text"
        name="listing[country]"
        value="<%=data.country%>"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Can't Be Emptied.</div>
    </div>

 <div class="mt-3">
      <label for="category" class="form-label">Select Category</label>
      <select
        class="form-select form-control"
        aria-label="Default select example"
        name="listing[field]"
        required
      >
        <option value="Beachfront">Beachfront</option>
        <option value="Trending">Trending</option>
        <option value="Forest">Forest</option>
        <option value="Igloo">igloo</option>
        <option value="Downtown">Downtown</option>
        <option value="Pool">Pool</option>
        <option value="Cruise">Cruiseship</option>
        <option value="Mountain">Mountain</option>
      </select>
    </div>

    <button class="btn btn-success mt-4">Submit</button>
  </form>
</div>
